nav {
  border-bottom: 1px solid lightgray;
  .containerLeft {
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
    .img {
      cursor: pointer;
      height: 3em;
      width: 3em;
    }
    li {
      list-style: none;
      font-size: 1.5rem;
      cursor: default;
      span {
        font-size: 1rem;
      }
    }
  }
  .toggleContainer {
    display: none;
    .iconButton {
      margin: 0;
      padding: 10px;
    }
  }
  .containerRight {
    display: flex;
    .liDiv {
      cursor: pointer;
      border-right: 1px solid;
      padding: 5px 20px;
      &:last-child {
        border: none;
      }

      li {
        list-style: none;
        padding: 0px 5px;
        margin: 0px;
        &:hover {
          color: rgb(50, 163, 201);
          transition: color 0.5s ease;
        }
      }
    }
    
  }
}
@media screen and (max-width: 374px) {
  nav {
    .containerLeft {
      li {
        span {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  nav {
    .containerLeft {
      font-weight: 500;
      gap: 0.5rem;
      .img {
        height: 2em;
        width: 2em;
      }

      li {
        list-style: none;
        font-size: 0.98rem;
        span {
          font-size: 0.8rem;
        }
      }
    }

    .containerRight {
      display: none;
    }
    .toggleContainer {
      display: flex;
    }
    .iconButton {
      margin: 0;
      padding: 0px;
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 850px) {
  nav {
    .containerRight {
      display: none;
    }

    .toggleContainer {
      display: flex;
    }

    .modalDiv {
      .modalContant {
        .modalHeader {
          display: flex;
          flex-direction: row;
          justify-content: end;
          margin: 0;
          padding: 0;
          button {
            position: relative;
            top: 1rem;
            right: 1.5rem;
            padding: 10px 10px 10px 10px;
            margin: 5px;
            border-radius: 50%;
          }
        }
        .modalBody {
          padding: 0;
          padding-top: 3rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
          li {
            list-style: none;
            font-size: 1.5rem;
            cursor: pointer;
            &:hover {
              color: rgb(50, 163, 201);
            }
            &:active {
              color: rgb(50, 163, 201);
            }
          }
        }
      }
    }
  }
}
